@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
}

@font-face {
  font-family: 'airstrike';
  src: url("./assets/Fonts/airstrike.ttf") format('truetype');
}

